html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.circle { display:inline-block;width: 20px; height:20px; border-radius:10px; }
.btn-lg .circle { width: 30px; height:30px; border-radius:15px; }
.active .circle { width:30px; height:30px; border-radius:15px; }
.active.btn-lg .circle { width:40px; height:40px; border-radius:15px; }
.black .circle { background-color:#000; }
.red .circle { background-color:#b00; }
.green .circle { background-color:#0b0; }
.blue .circle { background-color:#00b; }

.rotate .play { display:none; }
.rotate .pause { display:inline-block; }
.rotate.on .play { display:inline-block; }
.rotate.on .pause { display:none; }

.audio .sounds { display:none; }
.audio .mute { display:inline-block; }
.audio.on .sounds { display:inline-block; }
.audio.on .mute { display:none; }

body {
	background: #fafafa;
	overflow: hidden;
    font-family: helvetica neue, arial, sans-serif;
}