html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.black { color:#000; }
.red { color:#b00; }
.green { color:#0b0; }
.blue { color:#00b; }
.color.on { background:#fff; }

.rotate .play { display:none; }
.rotate .pause { display:inline-block; }
.rotate.on .play { display:inline-block; }
.rotate.on .pause { display:none; }

.audio .sounds { display:none; }
.audio .mute { display:inline-block; }
.audio.on .sounds { display:inline-block; }
.audio.on .mute { display:none; }

body {
	background: #fafafa;
	overflow: hidden;
    font-family: helvetica neue, arial, sans-serif;
}